.root{
    -fx-background-color: #191919;
}

.scroll-bar:vertical .track-background{
    -fx-background-color: #191919;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
}

.scroll-bar:vertical .increment-button , .scroll-bar:vertical .decrement-button{
    -fx-background-color:transparent;
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow{
    -fx-background-color:transparent;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: white;
    -fx-background-radius: 50;
    -fx-cursor: hand;
}

#login_button , #sell_button{
    -fx-background-radius: 0 0 50 50;
}

#login_button:hover , #sell_button:hover{
    -fx-border-color: #20B2AA;
    -fx-border-radius: 0 0 50 50;
    -fx-border-width: 2;
}

.glyph-icon {
    -fx-fill: white;
}
.glyph-icon:hover {
    -fx-cursor: hand;
    -fx-fill: red;
}

.spinner{
    -fx-base: transparent;
    -fx-background-color: transparent;
}
.spinner:focused{
    -fx-base: transparent;
    -fx-background-color: transparent;
}
.spinner .text-field{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-family: sans-serif;
    -fx-pref-width: 165;
}

.spinner .increment-arrow-button , .spinner .decrement-arrow-button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.spinner .increment-arrow-JFXButton:hover , .spinner .decrement-arrow-JFXButton:hover{

}

.spinner .increment-arrow , .spinner .decrement-arrow{
    -fx-pref-height: 10;
    -fx-pref-width: 10;
}

.spinner .increment-arrow:hover , .spinner .decrement-arrow:hover{
    -fx-background-color: red;
}
