.jfx-button{
    -fx-text-fill: white;
    -fx-border-color:  #2ecc71;
    -fx-background-color: transparent;
    -fx-background-radius: 25;
    -fx-font-size: 16;
    -fx-cursor: hand;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

.jfx-button:hover{
    -fx-background-color:  #2ecc71;
    -fx-font-style: italic;
    -fx-text-fill: #191919;
}
#name , #age , #number , #height , #weeklySalary , #position{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #e7d394;
    -fx-font-family: sans-serif;
}

#name {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}
#number{
    -fx-font-size: 50;
    -fx-font-weight: bold;
}

#age , #height , #weeklySalary , #position{
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.glyph-icon {
    -fx-fill: white;
}
.glyph-icon:hover {
    -fx-cursor: hand;
    -fx-fill: red;
}
