/*BUTTONS*/
.btn-1{
    -fx-pref-height: 45;
    -fx-pref-width: 280;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-family: sans-serif;
    -fx-font-size: 16;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-border-radius: 50;
    -fx-border-width: 2;
    -fx-border-color: #3498db;
}

.btn-1:hover{
    -fx-background-radius: 50;
    -fx-border-color: transparent;
    -fx-font-style: italic;
    -fx-background-color:  linear-gradient(#3498db,#3468db);
    -fx-background-radius: 50;
    -fx-text-fill: black;
}

.btn-2{
    -fx-pref-height: 45;
    -fx-pref-width: 130;
    -fx-text-fill: white;
    -fx-border-color:  #2ecc71;
    -fx-border-radius: 50;
    -fx-border-width: 2;
    -fx-background-color: transparent;
    -fx-background-radius: 25;
    -fx-font-size: 16;
    -fx-cursor: hand;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

.btn-2:hover{
    -fx-background-radius: 50;
    -fx-border-color: transparent;
    -fx-background-color:  linear-gradient(#2ecc71,#2ecc51);
    -fx-font-style: italic;
    -fx-text-fill: #191919;
}

.btn-3{
    -fx-pref-height: 45;
    -fx-pref-width: 280;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-family: sans-serif;
    -fx-font-size: 16;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-border-radius: 50;
    -fx-border-width: 2;
    -fx-border-color: #2ecc71;
}

.btn-3:hover{
    -fx-background-radius: 50;
    -fx-border-color: transparent;
    -fx-background-color:  linear-gradient(#2ecc71,#2ecc51);
    -fx-font-style: italic;
    -fx-text-fill: #191919;
}


/* TEXT FIELD */
.text-field-1{
    -fx-background-color: transparent;
    -fx-pref-width: 280;
    -fx-pref-height: 45;
    -fx-border-color: #3498db;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-prompt-text-fill: #505050;
    -fx-font-size: 16;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-max-width: 280;
    -fx-border-radius: 50;
}

.text-field-1:focused{
    -fx-pref-width: 330;
    -fx-max-width: 330;
    -fx-border-color:  #2ecc71;
    -fx-background-color: linear-gradient(#151515,#242424);
    -fx-background-radius: 50;
}

/* SCROLL BAR */
.scroll-bar:vertical .track-background{
    -fx-background-color: #191919;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
}

.scroll-bar:vertical .increment-button , .scroll-bar:vertical .decrement-button{
    -fx-background-color:transparent;
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow{
    -fx-background-color:transparent;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: white;
    -fx-background-radius: 50;
    -fx-cursor: hand;
}

/* ICON */
.glyph-icon {
    -fx-fill: white;
    -fx-cursor: hand;
}
.glyph-icon:hover {

    -fx-fill: red;
}

/* SPINNER */
.spinner{
    -fx-base: transparent;
    -fx-background-color: transparent;
}
.spinner:focused{
    -fx-base: transparent;
    -fx-background-color: transparent;
}
.spinner .text-field{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-family: sans-serif;
    -fx-pref-width: 165;
    -fx-cursor: pointer;
}

.spinner .increment-arrow-button , .spinner .decrement-arrow-button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.spinner .increment-arrow-JFXButton:hover , .spinner .decrement-arrow-JFXButton:hover{

}

.spinner .increment-arrow , .spinner .decrement-arrow{
    -fx-pref-height: 10;
    -fx-pref-width: 10;
}

.spinner .increment-arrow:hover , .spinner .decrement-arrow:hover{
    -fx-background-color: red;
}
