#SEARCH_PLAYERS , #SEARCH_CLUBS , #ADD_PLAYER , #LIST_PLAYER , #EXIT_SYSTEM{
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-family: sans-serif;
}

#SEARCH_PLAYERS:hover , #SEARCH_CLUBS:hover , #ADD_PLAYER:hover , #LIST_PLAYER:hover , #EXIT_SYSTEM:hover {
    -fx-font-style: italic;
    -fx-background-color:  #3498db;
    -fx-background-radius: 50;
    -fx-text-fill: black;
}