#name , #age , #number , #height , #weeklySalary , #position{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #e7d394;
    -fx-font-family: sans-serif;
}

#name {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}
#number{
    -fx-font-size: 50;
    -fx-font-weight: bold;
}

#age , #height , #weeklySalary , #position{
    -fx-font-size: 16;
    -fx-font-weight: bold;
}
